<h2>Thank you for your purchase</h2>
<p>Your {{#each cart_data as |cart_item cart_itemId|}} <strong>{{{cart_item.title}}}</strong>, {{/each}}
<p>will be send to your address ASAP</p>
<a type="button" class="btn btn-dark" href="/users/clear">Back to shopping ></a>